@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,200&display=swap');

.logo{
    color: rgba(255, 255, 255, 0.877);
    font-family: 'Poppins',sans-serif ;
}

.deck{
    color: #e4e4e4;
    top: 20px;
    position: relative;
    right: 57%;
    left: 43%;
    font-size: 30px;
}

header{
    padding-left: 125px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #171718;
}

header ul{
    list-style: none;
    display: flex;   
}

header ul li{
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

header ul li:hover{
    background: #0aaaf5;
    color: rgb(247, 235, 235);
}

header ul li:nth-child(4){
    border-top: 4px solid #0aaaf5;
}

a{
    text-decoration: none;
    color: white;
}